<body>
    <h1>Tabla de Datos</h1>
    <button id="btn-obtener-productos">Obtener Productos</button>
    <table id="tabla-datos">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>precio</th>
        <th>stock</th>
        <th>imagen</th>
      </tr>
    </table>
    <script src="./js/tablaProductos.js"></script>
</body>
</html>